\.git

DXR_SoftShadows_Project/bin/
DXR_SoftShadows_Project/*.bat

**.csv
**.xlsx
DXR_SoftShadows_Project/Sandbox/*.csv
nvidia-smi.txt

**.sln
**.vcxproj
**.user
**.filters
**.Tlog
**.vs
**bin/
**bin-int/

DXR_SoftShadows_Project/Vendor/Resources/Scenes/**